/*
 Theme Name:  FinanceLife Child
 Theme URI:    http://themeforest.net/user/strongholdthemes
 Description:  FinanceLife Child Theme
 Version:      10.0
 Author:       Stronghold Themes
 Author URI:   http://themeforest.net/user/strongholdthemes
 Text Domain:  financier
 Template:     financier
*/


/*
------------------------------------------------------- */
